# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/
.dmypy.json
dmypy.json

# Database
*.db
*.sqlite3

# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

.env
/docs
